lakehouse/docker/nifi/templates/batch_ingest_mongo_to_minio.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template>
  <name>batch-mongo-to-minio</name>
  <description>Snapshot Mongo collections to MinIO raw bucket.</description>
  <groupId>mongo-batch-group</groupId>
  <dateCreated>2024-03-01T00:00:00.000Z</dateCreated>
  <snippet>
    <processGroups/>
    <processors>
      <processor>
        <id>get-mongo</id>
        <name>QueryMongo</name>
        <class>org.apache.nifi.processors.mongodb.QueryMongo</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <properties>
          <entry>
            <key>Mongo URI</key>
            <value>${MONGO_URI}</value>
          </entry>
          <entry>
            <key>Mongo Database Name</key>
            <value>${MONGO_DATABASE}</value>
          </entry>
          <entry>
            <key>Mongo Collection Name</key>
            <value>orders</value>
          </entry>
          <entry>
            <key>Query</key>
            <value>{}</value>
          </entry>
          <entry>
            <key>Projection</key>
          </entry>
          <entry>
            <key>Result Batch Size</key>
            <value>1000</value>
          </entry>
        </properties>
      </processor>
      <processor>
        <id>format-attributes</id>
        <name>UpdateAttribute</name>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <properties>
          <entry>
            <key>filename</key>
            <value>${now():format('yyyyMMddHHmmssSSS')}-${uuid()}.json</value>
          </entry>
          <entry>
            <key>partition</key>
            <value>${now():format('yyyy-MM-dd')}</value>
          </entry>
        </properties>
      </processor>
      <processor>
        <id>put-s3</id>
        <name>PutS3Object</name>
        <class>org.apache.nifi.processors.aws.s3.PutS3Object</class>
        <properties>
          <entry>
            <key>Bucket</key>
            <value>raw</value>
          </entry>
          <entry>
            <key>Object Key</key>
            <value>orders/dt=${partition}/${filename}</value>
          </entry>
          <entry>
            <key>Endpoint Override URL</key>
            <value>http://minio:9000</value>
          </entry>
          <entry>
            <key>Access Key</key>
            <value>${MINIO_ACCESS_KEY}</value>
          </entry>
          <entry>
            <key>Secret Key</key>
            <value>${MINIO_SECRET_KEY}</value>
          </entry>
          <entry>
            <key>Use Path Style Access</key>
            <value>true</value>
          </entry>
        </properties>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>conn1</id>
        <sourceId>get-mongo</sourceId>
        <sourceRelationshipList>
          <relationship>success</relationship>
        </sourceRelationshipList>
        <destinationId>format-attributes</destinationId>
      </connection>
      <connection>
        <id>conn2</id>
        <sourceId>format-attributes</sourceId>
        <sourceRelationshipList>
          <relationship>success</relationship>
        </sourceRelationshipList>
        <destinationId>put-s3</destinationId>
      </connection>
    </connections>
  </snippet>
</template>
